<!-- This template link : https://bootsnipp.com/snippets/ZlkBn -->
<!DOCTYPE html>
<html>

<head>
    <title>Games chatbot</title>
    <link rel="icon" type="image/png" href="../static/images/favicon_bot.png" />
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- jQuery & JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/scripts.js"></script>
</head>

<body>
    <div class="chat_window">
        <div class="top_menu">
            <div class="title">Games Chat</div>
        </div>
        <ul class="messages"></ul>
        <form action="/" method="POST" id="form-id">
            <div class="bottom_wrapper clearfix">
                <div class="message_input_wrapper">
                    <input type="text" class="message_input" name="message_input" placeholder="Type your message here..." />
                </div>
                <div class="send_message">
                    <div class="icon"></div>
                    <div class="text">Send</div>
                </div>
            </div>
        </form>
    </div>
    <div class="message_template">
        <li class="message">
            <div class="avatar"></div>
            <div class="text_wrapper">
                <div class="text"></div>
            </div>
        </li>
    </div>
</body>
</html>